*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    color:black;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-image: url("../assets/images/background.PNG") ;
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999; 
}
header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color:black;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  header a {
    text-decoration: none;
    color:black;
  }
  
  header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  header nav ul li a:hover {
    background: #6c4a4a;
    color: #c89595;
    border-radius: 15px;
    text-shadow: none;
  }
  /*header styles ended*/
.vl{
    position: absolute;
    border-left: 4.5px solid #6c4a4a;
    height: 200px;
    left:30%;
    top:60%;
}
.vl2{
    position: absolute;
    border-left: 4.5px solid #6c4a4a; 
    height:500px;
    left: 30%;
    top:100%;
 }
.first{
    margin-left: 200px;
    margin-top: 60px;
}
p{
    text-align: right;
    margin-left: 30%;
    margin-top:-50;
}
.content{
    text-align: center;
    margin-left: 30%;
    margin-top: -50px;
}

.second{
    margin-left: 200px;
    margin-top:20%;
}