*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ddbebe;
}
header{
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-image: url("../assets/images/background.PNG") ;
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999; 
}
header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color:black;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  header a {
    text-decoration: none;
    color:black;
  }
  
  header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  header nav ul li a:hover {
    background: #6c4a4a;
    color: #c89595;
    border-radius: 15px;
    text-shadow: none;
  }
  /*header styles ended*/

h2{
    position:relative;left: 200px;
    font-size: 40px;
    bottom: 450px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.vl{
    position: absolute;
    border-left: 4.5px solid #6c4a4a;
    height: 200px;
    left:30%;
    top:60%;
}
.vl2{
    position: absolute;
    border-left: 4.5px solid #6c4a4a; 
    height:500px;
    left: 30%;
    top:100%;
 }
.first{
    margin-left: 200px;
    margin-top: 60px;
}
p{
    text-align: center;
    margin-left: 30%;
    margin-top:-50;
    font-size: 30px;
}
.content{
    text-align: center;
    margin-left: 30%;
    margin-top: -50px;
}

.second{
    margin-left: 200px;
    margin-top:20%;
}
.third{
    margin-left: 200px;
    margin-top: 20%;
}

ul{
    list-style-type: none;
}
ul>li{
    display:block;
    float:left;
    padding-right: 20px;
    text-decoration: underline;
}
.image-grid{
    float:left;
    --gap: 16px;
    --num-cols:3;
    --row-height:200px;
    box-sizing: border-box;
    padding: var(--gap);
    display: grid;
    grid-template-columns: repeat(var(--num-cols) lfr);
}
.glass{
    width:40%;
    float:left;
    margin-left: 30px;

}
.glass img{
    height: 300px;
    float:center;
}
footer{
    background-color: #c89595;
    padding:20px 35px;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    top:8px;
}
footer h1{
    color: #ededed;
    font-size: 25px;
    margin: 0%;
    text-decoration: none;
}
footer a{
    color: #ededed;
    text-decoration: none;
    font-size: 25px;
    justify-content:space-between;
    
}
footer nav{
    margin:8px 0;
}
footer nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
footer nav li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
